<header class="bg-red-950 sticky top-0 z-10 shadow">
  <!-- Container to align items next to each other -->
  <div class="container mx-auto flex items-center justify-between p-4">
    <!-- Logo -->
    <a class="navbar-brand text-xl font-bold" href="/">Price peeker</a>
    <!-- Search Bar -->
    <div class="search-container flex min-w-fit">
      <input type="text" placeholder="meklēt..." class="border p-2 rounded-l" />
      <button type="submit" class="bg-blue-500 text-white p-2 rounded-r">
        Search
      </button>
    </div>
    <!-- Additional Links or Icons -->
    <div class="nav-items flex">
      <!-- Placeholder for switch to night mode -->
      <button
        class="text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black"
      >
        Night Mode
      </button>
    </div>
  </div>
</header>
