<!-- products.component.html -->
<div class="w-full h-full flex flex-col items-center justify-center">
  <div
    *ngIf="loading$ | async"
    class="fixed inset-0 flex items-center justify-center"
  >
    <!-- loading spinner -->
    <span class="spinner loading loading-spinner text-primary"></span>
  </div>
  <div class="w-full flex justify-end p-4">
    <!-- Container for the select-->
    <select
      class="select select-bordered select-xs md:select-sm"
      (change)="sortProducts($event)"
    >
      <option value="default" disabled selected>Kārtot pēc:</option>
      <option value="default">pēc noklusējuma</option>
      <option value="priceAsc">zemākā cena vispirms</option>
      <option value="priceDesc">augstākā cena vispirms</option>
      <option value="discount">ar akcijām vispirms</option>
      <option value="pricePerUnitAsc">zemākā cena par kg/gb</option>
      <option value="pricePerUnitDesc">augstākā cena par kg/gb</option>
    </select>
  </div>

  <div
    *ngIf="!(loading$ | async)"
    class="flex flex-row flex-wrap justify-center"
  >
    <div
      *ngFor="let product of products"
      class="card w-[148px] md:w-56 bg-base-100 shadow-xl m-4"
    >
      <figure
        class="h-36 w-36 md:h-56 md:w-56 flex items-center justify-center"
      >
        <img
          src="{{ product.imgURL }}"
          alt="{{ product.name }}"
          class="object-cover w-full h-full bord rounded-2xl"
        />
      </figure>
      <div class="card-body flex flex-col justify-between">
        <div
          [class]="
            product.id === 1
              ? 'badge badge-outline bg-R-shop'
              : 'badge badge-outline bg-M-shop'
          "
        >
          <p class="text-white">
            {{ product.id == 1 ? "R-shop" : "M-shop" }}
          </p>
        </div>
        <!-- Product Name -->
        <h2
          [class]="
            product.originalPrice
              ? 'text-sm md:text-lg card-title'
              : 'text-sm md:text-lg card-title line-through text-gray-400'
          "
        >
          {{ product.name }}
        </h2>

        <!-- Discount Badge -->
        <div
          *ngIf="product.discount"
          class="badge badge-secondary text-[12px] md:text-sm"
        >
          {{ product.discount }} atlaide
        </div>

        <!-- Card Owner Badge -->
        <div class="card-actions mt-1">
          <div
            *ngIf="product.cardOwnerOnly"
            [class]="
              product.id === 1
                ? 'badge badge-outline bg-R-shop'
                : 'badge badge-outline bg-M-shop'
            "
          >
            <p class="text-[9.5px] text-white md:text-sm">
              Tikai ar {{ product.id === 1 ? "R" : "M" }}-karti
            </p>
          </div>
        </div>

        <!-- Prices and Price Per Unit or Out of Stock Message -->
        <div
          *ngIf="product.originalPrice; else outOfStock"
          class="flex flex-col"
        >
          <div class="flex flex-row items-baseline">
            <!-- Original Price -->
            <span
              class="text-xs font-semibold line-through decoration-R-shop decoration-2 md:text-sm"
              *ngIf="product.discountedPrice"
            >
              {{ product.originalPrice }}€
            </span>
            <!-- Discounted Price -->
            <span
              class="text-sm font-bold ml-2 md:text-lg"
              *ngIf="product.discountedPrice"
            >
              {{ product.discountedPrice }}€
            </span>
            <!-- Display original price if there is no discount -->
            <span
              class="text-sm font-bold md:text-lg"
              *ngIf="!product.discountedPrice"
            >
              {{ product.originalPrice }}€
            </span>
          </div>
          <div class="flex justify-between">
            <!-- Price Per Unit -->
            <span class="text-xs text-gray-400 md:text-sm">
              {{ product.pricePerUnit }}
            </span>
          </div>
        </div>
        <!-- Out of Stock Template -->
        <ng-template #outOfStock>
          <div class="text-center text-red-500 font-bold">
            prece nav pieejama
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
