<!-- Display error alert  -->
<div *ngIf="showError" role="alert" class="alert alert-error">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="stroke-current shrink-0 h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>{{ errorMessage }}</span>
</div>

<!-- Display success alert  -->
<div *ngIf="showSuccess" role="alert" class="alert alert-success">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="stroke-current shrink-0 h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>register successful!</span>
</div>

<div class="flex items-center justify-center min-h-screen">
  <div class="p-6 m-4 bg-base-200 shadow-md rounded-lg w-full max-w-sm">
    <form (ngSubmit)="submit()" #registerForm="ngForm" class="space-y-4">
      <!-- Username Field -->
      <div>
        <label class="label">
          <span class="label-text">Username</span>
        </label>
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          #usernameField="ngModel"
          class="input input-bordered w-full"
          placeholder="Username"
          required
        />
      </div>
      <!-- Password Field -->
      <div>
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          #passwordField="ngModel"
          class="input input-bordered w-full"
          placeholder="Password"
          required
        />
      </div>
      <!-- Repeat Password Field -->
      <div>
        <label class="label">
          <span class="label-text">Repeat password</span>
        </label>
        <input
          type="password"
          [(ngModel)]="repeatedPassword"
          name="repeatPassword"
          #repeatPasswordField="ngModel"
          class="input input-bordered w-full"
          placeholder="repeat password"
          required
        />
      </div>
      <!-- Submit Button -->
      <div class="py-5">
        <button
          type="submit"
          class="btn btn-primary w-full"
          [disabled]="registerForm.invalid || password !== repeatedPassword"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
